$color-isla-orange: rgb(232,89,74);

$color-isla-red: rgb(182,55,64);
$color-isla-red-dark: rgb(132,32,40);
$color-isla-red-vibrant: rgb(244,78,88);

$color-isla-white: rgb(246,250,253);
$color-isla-white-dark: rgb(185,189,200);

$color-isla-blue-light: rgb(239,242,251);
$color-isla-blue: rgb(147,133,208);
$color-isla-blue-shadow: rgb(0,125,194);
$color-isla-turquoise: rgb(5,172,191);

$color-isla-black: rgb(32,41,56);

